/*  your css code here. If applicable */
.table {
  background-color: yellow;
  border: 1px solid black;
  border-collapse: collapse;
}

.table th,
.table td {
  border: 1px solid black;
  padding: 8px;
}

.table tr {
  border: 1px solid black;
}